@import "./vars.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Poppins, sans-serif;
}

h1,h2,h3,h4,h5,h6,span,a,svg {
    color: $dark;
}

button,a{
    cursor: pointer;
}

fieldset{
    outline: none;
    border: 0;
}
