.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 200px;
    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        img {
            width: 25vh;
            height: 10vh;
            margin-bottom: 25px;
        }
    }
    a {
        color: #7c7c7c;
        text-decoration: none;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        input[type=password],  input[type=email]{
            border-radius: 4px;
            padding: 20px;
            border-color: #7c7c7c;
        }
        input + input {
            margin-top: 10px;
        }
        .submit-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            button {
                background-color: #1F7A8C;
                color: white;
                border: 0;
                border-radius: 4px;
                padding: 20px;
                font-size: 30px;
                font-weight: bold;
                width: 100%;
                cursor: pointer;
            }
            span {
                margin-bottom: 1em;
                width: 65%;
                text-align: center;
            }
        }
    }
    .span-container {
        margin-top: 1em;
        color: #7c7c7c;
        a {
            color: black;
            font-weight: bold;
        }
    }
}