.register {
    height: 100%;
    margin-top: 3em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo{
        width: 25vh;
        height: 10vh;
    }

    .title{
        font-size: 24px;
        font-weight: BOLD;
    }

    .form-space{
        display: flex;
        width: 400px;
        flex-direction: column;
        border: none;
        align-items: center;
        padding: 20px;

        .input-container{
            height: 40px;
            width: 100%;
            border: 0.5px solid lightgray;
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .input{
            flex: 1;
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border: none;
        }

        .button{
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 5px;
            padding: 15px 20px;
            background-color: #1F7A8C;
            color: white;
            cursor: pointer;
        }

        .alert-container{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            border-radius: 4px;
            margin-bottom: 15px;
            height: 50px;
            text-align: center;

            .alert-message{
                flex: 1;
                min-width: 40%;
                margin: 10px 0;
                padding: 10px;
                border: none;
            }
        }

        .confirmation-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
            background-color: #ffffff;
            color: gray;
            border: 1px solid lightgray;
            border-radius: 4px;
            text-align: center;

            .confirmation-message{
                flex: 0.5;
                min-width: 40%;
                margin: 10px 0;
                padding: 10px;
                border: none;
            }
            .confirmation-buttons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .confirmation-button{
                    border: none;
                    height: 20px;
                    width: 70px;
                    padding: 7px;
                    margin-bottom: 15px;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                }

            }

        }

        .span-container{
            margin-top: 1em;
            margin-bottom: 1em;
            color: #7c7c7c;
        }

    }

}